<div id="cordova-root-dialog" class="modal">
    <div class="modal-header">
		<ul class="nav nav-tabs">
	    	<li><a href="#registry" class="registry" data-toggle="tab">Platforms</a></li>
			<li><a href="#installed" class="installed" data-toggle="tab"><span class="notification"></span>Plugins</a></li>
        </ul>
    </div>
    <div class="modal-body tab-content">
    	<div class="tab-pane">
	    	<p>tab one</p>
    	</div>
    	<div class="tab-pane">
    		<p>tab two</p>
    	</div>
    </div>
    <div class="modal-footer">
        <button data-button-id="ok" class="dialog-button btn btn-80">Close</button>
    </div>
</div>
