<div id="cordova-root-panel" class="bottom-panel vert-resizable top-resizer">
    <div class="toolbar simple-toolbar-layout">
		<ul class="nav nav-tabs">
	    	<li><a href="#cordova-platforms-tab" data-load="platforms" data-toggle="tab">Platforms</a></li>
			<li><a href="#cordova-plugins-tab" data-load="plugins" data-toggle="tab"><span class="notification"></span>Plugins</a></li>
        </ul>
    </div>
    <div class="resizable-content tab-content">
		<div class="tab-pane" id="cordova-platforms-tab"></div>
		<div class="tab-pane" id="cordova-plugins-tab"></div>
    </div>
</div>