<div id="cordova-root-panel" class="bottom-panel vert-resizable top-resizer">
    <div class="toolbar simple-toolbar-layout">
		<ul class="nav nav-tabs">
	    	<li><a href="#registry" class="registry" data-toggle="tab">Platforms</a></li>
			<li><a href="#installed" class="installed" data-toggle="tab"><span class="notification"></span>Plugins</a></li>
        </ul>
    </div>
    <div class="resizable-content tab-content">
    	<div class="tab-pane">
	    	<p>tab one</p>
    	</div>
    	<div class="tab-pane">
    		<p>tab two</p>
    	</div>
    </div>
</div>